@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Tera';
  src: url('../fonts/GrtskTera/GrtskTera-Regular.eot');
  src: local('GrtskTera Regular'), local('GrtskTera-Regular'),
  url('../fonts/GrtskTera/GrtskTera-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GrtskTera/GrtskTera-Regular.woff2') format('woff2'),
  url('../fonts/GrtskTera/GrtskTera-Regular.woff') format('woff'),
  url('../fonts/GrtskTera/GrtskTera-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  font-family: 'Gilroy';
  scroll-behavior: smooth;
  height: 100%;
  background: linear-gradient(271.13deg, #AAB2C4 0.1%, #020024 173.28%);
}

body{
  height: 100%;
  width: 100%;
}

.viewport{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  background: linear-gradient(112.91deg, #757F9A 17.74%, #D7DDE8 83.15%);
  padding-bottom: 50px;
  justify-content: space-between;
}

#ps-mobile {
  display: none;
}

.grid {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.vp-picture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
  z-index: 2;
}

.vp-picture img {
  max-height: 550px;
}

#header{
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 40px;
  align-content: center;
  z-index: 20;
}

#mobileHeader{
  display: none;
}

.navLinks{
  display: inline-flex;
  gap: 30px;
  font-size: 16px;
  align-items: center;
}

.buyBtnNav{
  width: 101px;
  height: 32px;
  color: #ffffff;
  background: #0437FB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.middle{
  display: inline-flex;
  width: 100%;
  margin-top: 8%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.middle p{
  font-size: 1rem;
  width: auto;
  margin: 0 15% 0 0;
  z-index: 9999;
  max-width: 460px;
}

.content{
  height: 100%;
  width: 100%;
}

.vp-heading {
  height: auto;
  z-index: 3;
}

.viewport h1{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 110%;
  color: #FFFFFF;
  margin: 0;
}

.subtitle{
  text-align: center;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
}

.twoCards{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 75px;
  overflow: visible;
  padding-top: 145px;
}

.cards{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 40px;
}

.card{
  width: auto;
  height: auto;
  background: linear-gradient(121.24deg, #A6B1C6 5.38%, #FFFFFF 102.62%);
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 65px 47px rgba(0, 0, 0, 0.0531481), 0 39px 25px rgba(0, 0, 0, 0.0425185), 0 20px 13px rgba(0, 0, 0, 0.035), 0 8px 7px rgba(0, 0, 0, 0.0274815), 0 2px 3px rgba(0, 0, 0, 0.0168519);
  border-radius: 5px;
  padding: 50px 40px 50px 40px;
}

.card h4{
  font-family: "Grtsk Tera";
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #262647;
  width: auto;
  margin-bottom: 20px;
}

.card span{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #262647;
  opacity: 0.8;
}

#psTilted{
  position: absolute;
  left: 0;
  width: 40%;
  z-index: -1;
}

#controllerTilted{
  position: absolute;
  right: 0;
  width: 40%;
  z-index: -1;
}

.tiles{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 145px;
}

.tiles .subtitles {
  margin-bottom: 75px;
}

h1{
  font-family: "Grtsk Tera";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 20px 0;
}

.subtitles{
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 0;
}

.block{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.tileImg{
  width: 50%;
}

.right{
 flex-direction: row-reverse;
}

.tileText{
  text-align: left;
  color: #ffffff;
}

.tileText h2{
  font-family: "Grtsk Tera";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
}

.tileText p{
  font-style: normal;
  font-weight: 400;
  font-size: 18vw;
  line-height: 140%;
}

.fourCards{
  min-height: 100%;
  width: 100%;
  background-image: url("../img/secondBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 75px;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.gallery {
  padding-top: 145px;
}

.gallery img{
  width: 100%;
  margin-top: 75px;
}

.buy{
  width: 100%;
  text-align: center;
  padding-top: 145px;
}

.price{
  font-family: "Grtsk Tera";
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
}

.buy button{
  width: 150px;
  height: 50px;
  background: #0437FB;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin-bottom: 6%;
}

.buy img{
  width: 100%;
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000000;
  padding: 90px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

footer ul{
  display: inline-flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.figures{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comp{
  display: inline-flex;
  gap: 30px;
  font-size: 1rem;
  align-items: flex-start;
}

#up{
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: #ffffff;
  border-radius: 100px;
  cursor: pointer;
  z-index: 9999;
}

#up img{
  margin-top: 7px;
}

.mobile-vp-content {
  display: none;
}

.tiles h1 {
  margin-top: 145px;
}

@media only screen and (max-width: 928px) {

  #ps-mobile {
    display: block;
  }

  .tiles h1 {
    margin-top:90px;
  }

  h1{
    font-size: 35px;
  }

  .subtitles {
    font-size: 16px;
  }

  .viewport {
    padding-bottom: 25px;
  }

  #header{
    display: none;
  }

  #mobileHeader{
    width: 90%;
    display: inline-flex;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    align-content: center;
  }

  .burger {
    z-index: 5;
    cursor: pointer;
  }

  .exit {
    cursor: pointer;
  }

  .mobileLinks{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10000;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding:35px 0 80px 0;
    background: linear-gradient(112.91deg, #757F9A 17.74%, #D7DDE8 83.15%);
  }

  .mobileLinks button{
    margin-top: 30px;
    width: 101px;
    height: 32px;
    background: #0437FB;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    border: none;
  }

  .logo{
    margin: 30px 0 30px 0;
  }

  .exit{
    width: 13px;
    position: absolute;
    right: 20px;
  }

  .vp-content {
    display: none;
  }

  .mobile-vp-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .mobile-vp-content p {
    text-align: center;
    margin: 0;
  }

  .figures {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 200px;
  }

  .viewport h1 {
    font-size: 38px;
  }

  .subtitle {
    font-size: 20px;
  }

  .vp-picture img {
    max-height: 340px;
  }

  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    width: calc(100% - 30px);
    gap: 15px;
  }

  .cards .card {
    min-width: 405px;
  }

  .tiles {
    gap: 20px;
    padding-top: 90px;
    width: 100%;
  }

  .tileImg {
    display: none;
  }

  .right {
    flex-direction: row;
  }

  .block {
    justify-content: center;
    padding: 60px 20px 60px 20px;
    background-image: url("../img/card-bg-mobile.svg");
    background-size: cover;
    width: calc(100% - 40px);
  }

  .tileText {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    padding: 30px 10px;
  }

  .tileText h2 {
    font-size: 18px;
  }

  .tileText span {
    font-size: 16px;
  }

  .fourCards {
    padding: 0 15px;
    width: calc(100% - 30px);
    background: none;
  }

  .container {
    display: flex;
    padding-top: 0;
    flex-direction: column;
    gap: 15px;
  }

  .col {
    gap: 15px;
  }

  .card span {
    font-size: 16px;
  }

  .twoCards, .gallery, .buy {
    padding-top: 90px;
  }

  .price{
    font-size: 18px;
  }

  footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
  }
}
